﻿
@model AttrezzatureFramework.VM.AttrezzaturaInSquadraVM

@using (Html.BeginCollectionItem("attrezzaturaDaInserire"))
{
<div class="form-group">
    @Html.HiddenFor(m=>m.IDSquadra)
    @Html.Label("Aggiungi Nuova Attrezzatura", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DropDownListFor(m => m.codiceAttrezzatura, (SelectList)ViewBag.ListaAttrezzature,"---Seleziona Attrezzatura---", htmlAttributes: new { @class = "form-control" })
    <hr class="my-4">

    @*@Html.DropDownListFor(m => m.IDUtente, new SelectList(ViewBag.ListaUtenti, "ID", "---Scegli Utente"))*@
</div>
                


}


