﻿
@model AttrezzatureFramework.VM.UtenteInSquadraVM

@using (Html.BeginCollectionItem("UtentiDaInserire"))
{
<div class="form-group">
    @Html.HiddenFor(m=>m.IDSquadra)
    @Html.Label("Aggiungi Nuovo Utente", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DropDownListFor(m => m.IDutente, (SelectList)ViewBag.ListaUtenti,"---Seleziona Utente---", htmlAttributes: new { @class = "form-control" })
    @Html.CheckBoxFor(m => m.IsCaposquadra)
    @Html.Label("Caposquadra", htmlAttributes: new { @class = "control-label col-md-2" })
    <hr class="my-4">

    @*@Html.DropDownListFor(m => m.IDUtente, new SelectList(ViewBag.ListaUtenti, "ID", "---Scegli Utente"))*@
</div>
                


}


