﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Software Attrezzature Cloud</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["ID"] != null)
                {
                    @Html.ActionLink("Software Attrezzature", "HomepageLogged", "Utente", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Software Attrezzature", "Index", "Utente", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["ID"] != null)
                {
                    <p class="navbar-text navbar-right">Accesso eseguito come @Session["Email"].ToString()</p>
                }
            <ul class="nav navbar-nav">
                @if (Session["ID"] != null && Session["UserRole"].Equals(1))
                {


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestione <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Aggiungi Ruolo", "AggiungiRuolo", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Aggiungi Attrezzatura ", "Censimento", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Aggiungi Fornitore", "CensimentoFornitori", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Crea squadra", "AggiuntaSquadra", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elenchi <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Attrezzature", "ElencoAttrezzature", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Utenti ", "ElencoUtenti", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Squadre", "ElencoSquadre", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Logout", "Logout", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            </ul>
                    </li>


                }
                else if (Session["ID"] != null && Session["UserRole"].Equals(2))
                {

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Logout", "Logout", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                    <li role="separator" class="divider"></li>
                </ul>
            </li>
                }
                else if (Session["ID"] != null && Session["UserRole"].Equals(3))
                {

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestione <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Richiedi Audit", "RichiediAudit", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Elenco Audit ", "StatoEsitiAudit", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                            </ul>
                            </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Logout", "Logout", "Utente", new { id = "OT", style = "text-transform:capitalize; color: Black;" })</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                }
                else //Non un utente registrato
                {
                    <li>@Html.ActionLink("Login", "Login", "Utente")</li>
                    <li>@Html.ActionLink("Registrazione", "Register", "Utente")</li>

                }

            </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Creato con odio immenso e ASP.NET MVC 5</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
