﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Programma Attrezzature</h1>
    <p class="lead">Entra nel sito con le credenziali per accedere allo strumento.</p>
    @Html.ActionLink("Login", "Login", "Home")
</div>

