﻿@model AttrezzatureFramework.Utente

@{
    ViewBag.Title = "Login";
}

<h1>@ViewBag.Message</h1>

    @using (@Html.BeginForm("Login", "Home", FormMethod.Post)){
    <p>Email Utente</p>
    @Html.TextBoxFor(m => m.Email)    
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
    <p>Password</p>
    @Html.PasswordFor(m => m.Pass)
    @Html.ValidationMessageFor(m => m.Pass, "", new { @class = "error" })
    <br /><br /><input type="submit" class="btn btn-primary" value="Login">

}

