﻿<%@ Page Title="Login" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="cludAttrezzature.About" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Finestra di Login.</h2>
    <h3>Inserisci le credenziali</h3><br />
    <asp:Label ID="PasswordNotValidCaseLabel" runat="server" Text=""></asp:Label><br />
    <!--due TestBox per inserimento da utente di username e password-->


    
    <asp:Label ID="Label1" runat="server" Text="Utente"></asp:Label><br />

    <asp:TextBox  ID="TextBox1" runat="server" OnTextChanged="TextBox1_TextChanged" ></asp:TextBox><br />

    
    <asp:Label ID="Label2" runat="server" Text="Password"></asp:Label><br />
    
    <asp:TextBox TextMode="Password" ID="TextBox2" runat="server" OnTextChanged="TextBox2_TextChanged"></asp:TextBox><br />

    Captcha:<br /> <!--il codice del captcha va da qui-->
    
    <asp:Label ID="Label4" runat="server" Font-Bold="False" Font-Italic="False"></asp:Label><br />
    
    
       <br />
    inserisci il Captcha:<br />

    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
    <tr>
        <td rowspan="2"></td>
    </tr>
    <br /><br />

     <!--a qui-->

    <!--<asp:HiddenField ID="hiddenfield" runat="server" Value="hidden field value" />-->
    <asp:Button runat="server" Width="127px" Text="Invia" OnClick="Unnamed1_Click" ></asp:Button>

    <a href="RegisterForm"><asp:Label ID="Label5" runat="server" Text="Registra nuovo account"></asp:Label></a>
    <br />
    <br />
    <br />
    
    <a href="ResetPasswordForm"><asp:Label ID="Label3" runat="server"  Text="Reimposta la Password"></asp:Label></a>
    
            
</asp:Content>
