﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="cludAttrezzature._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Programma Attrezzature</h1>
        <p class="lead">Entra nel sito con le credenziali per accedere allo strumento.</p>
        <p><a runat="server" href="~/About" class="btn btn-primary btn-lg">Login&raquo;</a></p>
    </div>


</asp:Content>
