﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RecuperoPassword.aspx.cs" Inherits="cludAttrezzature.RecuperoPassword" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

   <h1><asp:Label runat="server" Text="Inserisci email dell'account"></asp:Label></h1><br />
    <asp:Label runat="server" ID="labelResult" Font-Bold="True" ForeColor="Red"></asp:Label><br />
    <asp:TextBox runat="server" ID="emailTxtBox"></asp:TextBox><br /><br />
    <asp:Button runat="server" ID="sendEmail" Text="Invia email di recupero" OnClick="sendEmail_Click"/>




</asp:Content>