﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ResetPasswordForm.aspx.cs" Inherits="cludAttrezzature.ResetPasswordForm" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">


   


        <div>
        </div>

        <asp:Label ID="Label1" runat="server" Text="Utente"></asp:Label> <br />
        <asp:TextBox ID="TextBox1" runat="server" Width="234px"></asp:TextBox>
        
        
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="Password"></asp:Label>
        <br />
        <asp:TextBox ID="TextBox2" runat="server" Width="231px"></asp:TextBox>
        <br />
        
        
        <p><asp:Button ID="Button1" runat="server" Text="Ottieni codice OTP" OnClick="Button1_Click1" />
        </p>
        
        <p><asp:Button ID="BTreimpostapw" runat="server" OnClick="BTreimpostapw_Click" Text="Reimposta Password" Width="165px" />
        </p>
        
  </asp:Content>
