﻿@model AttrezzatureFramework.VM.AttrezzaturaSquadraVM

@{
    ViewBag.Title = "Assegnazione Attrezzature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aggiungi attrezzature nella squadra @Model.squadra.nomeSquadra</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><div class="jumbotron">
        <p class="lead"></p>

        @* Dropdownlist con gli Utenti *@
        <div class="form-group">
            <div id="utentiInSquadra">
                @if (ViewBag.ListaAttrezzatureInSquadra != null)
                {
                    foreach (var attrezzatura in ViewBag.ListaAttrezzatureInSquadra)
                    {
                        @attrezzatura
                        <br />
                    }

                }


            </div>
            <br />
            @Html.ActionLink("Aggiungi Attrezzatura...", "AggiungiAttrezzatura", null, new { id = "addItem" })

            @Html.HiddenFor(m => m.squadra.IDSquadra)
            <input type="submit" style="background-color: lightgrey" class="btn btn-success dropdown-toggle" value="Salva" />
            @* Checkbox per vedere se é il caposquadra *@


        </div>
    </div>
    <div>
        @Html.ActionLink("Torna alla home", "Index")
    </div>
    <div>
        @Html.ActionLink("Torna a Gestione Squadra", "GestioneSquadra")
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $("#addItem").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) { $("#utentiInSquadra").append(html); }
            });
            return false;
        });
    </script>
}

