﻿@model AttrezzatureFramework.Squadra

@{
    ViewBag.Title = "Creazione nuova squadra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:darkslategrey">Aggiunta Squadra</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.nomeSquadra, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nomeSquadra, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nomeSquadra, "", new { @class = "text-danger" })
        </div>
    </div>

    



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit"  value="Aggiungi" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Torna alla home
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
