﻿@model AttrezzatureFramework.Ruolo

@{
    ViewBag.Title = "Ruolo";
}

<h2 style="color:darkslategrey">Aggiungi nuovo ruolo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descrizione, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descrizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aggiungi ruolo" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <div class="form-group">
        <div class="col-md-1">
            <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Torna alla home
            </a>
        </div>
    </div>

    <br />
    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
