﻿@model AttrezzatureFramework.VM.CensimentoFornitoriVM

@{
    ViewBag.Title = "Aggiungi un nuovo Fornitore";
}

<h2 style="color:darkslategrey">Censimento fornitori</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.fornitore.partitaIVA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fornitore.partitaIVA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fornitore.partitaIVA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fornitore.ragioneSociale, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fornitore.ragioneSociale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fornitore.ragioneSociale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fornitore.nomeFornitore, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fornitore.nomeFornitore, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fornitore.nomeFornitore, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aggiungi fornitore" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Torna alla home
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
