﻿@model AttrezzatureFramework.VM.CensimentoAttrezzaturaVM

@{
    ViewBag.Title = "Aggiungi nuova attrezzatura";
}

<h2 style="color:darkslategrey">Censimento attrezzature</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.attrezzatura.nomeAttrezzatura, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.attrezzatura.nomeAttrezzatura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.attrezzatura.nomeAttrezzatura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.attrezzatura.statoDiFunzionamento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.attrezzatura.statoDiFunzionamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.attrezzatura.statoDiFunzionamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.attrezzatura.categoria, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.attrezzatura.categoria, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.attrezzatura.categoria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.attrezzatura.dataDiScadenza, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.attrezzatura.dataDiScadenza, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.attrezzatura.dataDiScadenza, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.attrezzatura.assegnata, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.attrezzatura.assegnata)
                @Html.ValidationMessageFor(model => model.attrezzatura.assegnata, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.attrezzatura.tipoManuale, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.attrezzatura.tipoManuale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.attrezzatura.tipoManuale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Fornitore",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.attrezzatura.IDFornitore, new SelectList(Model.listaFornitori, "IDFornitore", "nomeFornitore", Model.attrezzatura.IDFornitore), new { @class = "form-control" })
            @Html.HiddenFor(m => m.attrezzatura.IDFornitore)
        </div>
    </div>
   
    





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aggiungi attrezzatura" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Torna alla home
    </a>
</div>

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>


