﻿@model AttrezzatureFramework.Utente

@{
    ViewBag.Title = "Modifica utente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modifica Utente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Cognome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDRuolo, "Ruolo utente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IDRuolo, (SelectList)ViewBag.RoleList, "--Seleziona--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDRuolo, "", new { @class = "text-danger" })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color: lightgrey" value="Salva" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class=" col-md-1">
            <a href="@Url.Action("ElencoUtenti", "Utente")" class="btn btn-info">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Torna all'elenco
            </a>
        </div>
    </div>

    <br />
    <br />

    <div class="form-group">
        <div class="col-md-1">
            <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Torna alla home
            </a>
        </div>
    </div>

    <br />
    <br />
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
