﻿@model AttrezzatureFramework.VM.EditAttrezzaturaVM

@{
    ViewBag.Title = "Modifica Attrezzatura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Attrezzature</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AttrezzaturaDaEditare.codiceAttrezzatura)

        <div class="form-group">
            @Html.LabelFor(model => model.AttrezzaturaDaEditare.statoDiFunzionamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttrezzaturaDaEditare.statoDiFunzionamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttrezzaturaDaEditare.statoDiFunzionamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttrezzaturaDaEditare.categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttrezzaturaDaEditare.categoria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttrezzaturaDaEditare.categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttrezzaturaDaEditare.dataDiScadenza, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttrezzaturaDaEditare.dataDiScadenza, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.AttrezzaturaDaEditare.dataDiScadenza, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IDSquadra, "Nome squadra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.IDSquadra, (SelectList)ViewBag.SquadreList, "Non assegnato", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.AttrezzaturaDaEditare.tipoManuale, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttrezzaturaDaEditare.tipoManuale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttrezzaturaDaEditare.tipoManuale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttrezzaturaDaEditare.IDFornitore, "Nome fornitore", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AttrezzaturaDaEditare.IDFornitore, (SelectList)ViewBag.FornitoreList, "--Seleziona--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AttrezzaturaDaEditare.IDFornitore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class=" col-md-1">
        <a href="@Url.Action("ElencoAttrezzature", "Utente")" class="btn btn-info">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            Torna all'elenco
        </a>
    </div>
</div>

<br />
<br />

<div class="form-group">
    <div class="col-md-1">
        <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Torna alla home
        </a>
    </div>
</div>

<br />
<br />

@section Scripts {

    <script type="text/javascript">

        $(function () {
            $('.datetimepicker').datepicker();
        });
    </script>
}
