﻿@model AttrezzatureFramework.VM.GestoreVM
@{
    ViewBag.Title = "Elenco Utenti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elenco Utenti</h2>

<table class="table table-bordered">
    <tr>
        <th style="background-color:#ECECEC;">
            @Html.Label("Nome")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Cognome")
        </th>
        <th style="background-color:#ECECEC;">
            @Html.Label("Email")
            </th>
        <th style="background-color:#ECECEC;">
            @Html.Label("Ruolo")
        </th>
        <th style="background-color:#ECECEC;"> </th>
    </tr>

    @foreach (var item in Model.Utenti)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Ruoli.Find(m => m.IDRuolo == item.IDRuolo).descrizione)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

</table>

    
        
            <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Torna alla home
            </a>
       
    

    <br />
    <br />

