﻿@model IEnumerable<AttrezzatureFramework.Squadra>

@{
    ViewBag.Title = "Elenco Squadre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elenco Squadre</h2>

<p>
    
            <a href="@Url.Action("AggiuntaSquadra", "Utente")" class="btn btn-success">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                Crea nuova Squadra
            </a>
       

    <br />
    <br />
</p>
<table class="table table-bordered">
    <tr>
        <th style="background-color:#ECECEC;">
            @Html.DisplayNameFor(model => model.nomeSquadra)
        </th>
        <th style="background-color: #ECECEC;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeSquadra)
            </td>
            <td>
                @Html.ActionLink("Gestisci", "GestioneSquadra", new { id = item.IDSquadra })
            </td>
        </tr>
    }

</table>
<div>
    
            <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Torna alla home
            </a>
     

    <br />
    <br />
</div>
