﻿@model AttrezzatureFramework.VM.AttrezzatureVM

@{
    ViewBag.Title = "Elenco Utenti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elenco Attrezzature</h2>

<table class="table table-bordered">
    <tr>
        <th style="background-color: #ECECEC;">
            @Html.Label("Nome Attrezzatura")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Stato Attrezzatura")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Categoria")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Data Scadenza")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Stato Assegnazione")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Squadra Assegnata")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Tipo Manuale")
        </th>
        <th style="background-color: #ECECEC;">
            @Html.Label("Nome Fornitore")
        </th>
        <th style="background-color: #ECECEC;"></th>
    </tr>

@foreach (var item in Model.Attrezzature) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nomeAttrezzatura)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.statoDiFunzionamento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dataDiScadenza)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.assegnata)
    </td>
    <td>
        @foreach (var ais in Model.AttrezzaturaInSquadras.Where(a => a.codiceAttrezzatura == item.codiceAttrezzatura))
        {
            @Html.DisplayFor(modelItem => Model.Squadre.Find(s=>s.IDSquadra == ais.IDSquadraAttrezzatura).nomeSquadra)
        }

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoManuale)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Fornitori.Find(f => f.IDFornitore == item.IDFornitore).nomeFornitore)
    </td>

    <td>
        @Html.ActionLink("Gestisci", "EditAttrezzature", new { id = item.codiceAttrezzatura })
    </td>
</tr>
}

</table>
<div>
    <div class="form-group">
        <div class="col-md-1">
            <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Torna alla home
            </a>
        </div>
    </div>

    <br />
    <br />
</div>
