﻿@model AttrezzatureFramework.Utente

@{
    ViewBag.Title = "Password Dimenticata? Ci pensiamo noi.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inserisci la tua email per l'invio della password</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Invia" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Login", "Utente")" class="btn btn-warning">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Torna alla login
    </a>
</div>
