﻿@model AttrezzatureFramework.VM.GestoreVM



@{
    ViewBag.Title = "GestioneRuoli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GestioneRuoli", "Utente", FormMethod.Post))
{
    <h1>Gestione Ruoli Utente</h1>
    @Html.ActionLink("Aggiungi nuovo ruolo", "AggiungiRuolo")
    <table class="table">
        <tr>
            <th>
                @Html.Label("Nome")
            </th>
            <th>
                @Html.Label("Cognome")
            </th>

            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Ruolo")
            </th>
        </tr>

        @for (int i = 0; i < Model.Utenti.Count(); i++)//var item in Model.Utenti
        {
            <tr>

                <td>
                    @Html.HiddenFor(m => m.Utenti[i].ID)
                    @Html.HiddenFor(m => m.Utenti[i].Nome)
                    @Html.DisplayFor(m => m.Utenti[i].Nome)
                </td>
                <td>
                    @Html.HiddenFor(m => m.Utenti[i].Cognome)
                    @Html.DisplayFor(m => m.Utenti[i].Cognome)
                </td>
                <td>
                    @Html.HiddenFor(m => m.Utenti[i].Email)
                    @Html.DisplayFor(m => m.Utenti[i].Email)
                </td>
                <td>

                    @Html.DropDownListFor(m => m.Utenti[i].IDRuolo, new SelectList(Model.Ruoli, "IDRuolo", "descrizione", Model.Utenti[i].IDRuolo))
                    @Html.HiddenFor(m => m.Utenti[i].IDRuolo)
                </td>


            </tr>
        }


    </table>
    <input type="submit" style="background-color: lightgrey" class="btn btn-default" value="Aggiorna" />
}
<div>
    @Html.ActionLink("Torna alla home", "Index")
</div>


