﻿@model AttrezzatureFramework.Squadra

@{
    ViewBag.Title = "Gestione Squadra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestione Squadra</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDSquadra)



        <div class="form-group">
            @Html.LabelFor(model => model.nomeSquadra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.nomeSquadra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeSquadra, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.Label("Lista Utenti", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="form-group">

        @if (ViewBag.ListaUtentiInSquadra.Count > 0)
        {

            <table class="table table-bordered">
                @foreach (var u in ViewBag.ListaUtentiInSquadra)
                {

                    <tr>
                        <td style="background-color:#ECECEC">Utente</td>
                        <td><b>@u</b></td>
                    </tr>


                }
            </table>
            @Html.ActionLink("Aggiungi Operai", "AggiuntaOperaiInSquadra", "Utente", new { id = Model.IDSquadra }, new { @class = "btn btn-primary" })

        }
        else
        {

            <p>@ViewBag.NoUserMessage</p>
            <p>@Html.ActionLink("Aggiungi Operai", "AggiuntaOperaiInSquadra", "Utente", new { id = Model.IDSquadra }, new { @class = "btn btn-primary" })</p>



        }
    </div>



    @*Attrezzature*@

    @Html.Label("Lista Attrezzature", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="form-group">
        @if (ViewBag.ListaUtentiInSquadra.Count > 0)
        {

            <table class="table table-bordered">
                @foreach (var u in ViewBag.ListaAttrezzatureInSquadra)
                {

                    <tr>

                        <td style="background-color:#ECECEC">Attrezzatura</td>
                        <td><b>@u</b></td>
                    </tr>

                }
            </table>
            @Html.ActionLink("Aggiungi Attrezzature", "AggiuntaAttrezzatureInSquadra", "Utente", new { id = Model.IDSquadra }, new { @class = "btn btn-primary" })

        }
        else
        {

            < p > @ViewBag.NoAttrezzatureMessage </ p >
            < p > @Html.ActionLink("Aggiungi Attrezzature", "AggiuntaAttrezzatureInSquadra", "Utente", new { id = Model.IDSquadra,  },new { @class = "btn btn-primary" }) </ p >



        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        </div>
    </div>

}
<div class="form-group">
    <div class=" col-md-1">
        <a href="@Url.Action("ElencoSquadre", "Utente")" class="btn btn-info">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            Torna all'elenco
        </a>
    </div>
</div>

<br />
<br />

<div class="form-group">
    <div class="col-md-1">
        <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Torna alla home
        </a>
    </div>
</div>

<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
