﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Benvenuto @Session["Nome"].ToString()</h2>
   @if(Session["ID"] != null && Session["UserRole"].Equals(1))
        {
                <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                        <div class="caption">
                            <h2>Aggiungi</h2>
                            <p>Crea nuovi dati</p>
                                <p>@Html.ActionLink("Aggiungi Ruolo", "AggiungiRuolo", "Utente", new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Aggiungi Attrezzatura", "Censimento", "Utente", new { @class = "btn btn-primary" })</p>
                                <p>@Html.ActionLink("Aggiungi Fornitore", "CensimentoFornitori", "Utente", new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Crea nuova Squadra", "AggiuntaSquadra", "Utente", new { @class = "btn btn-primary" })</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        <div class="caption">
                            <h2>Gestisci</h2>
                            <p>Visualizza o modifica i dati esistenti</p>
                            <p>@Html.ActionLink("Attrezzature", "ElencoAttrezzature", "Utente", new {@class = "btn btn-primary" }) 
                            @Html.ActionLink("Utenti", "ElencoUtenti", "Utente", new { @class = "btn btn-primary" })
                            @Html.ActionLink("Squadre", "ElencoSquadre", "Utenti", new { @class = "btn btn-primary" })</p>
                        </div>
                    </div>
                </div>
                
            </div>
   }
   else if (Session["ID"] != null && Session["UserRole"].Equals(2))
            {

            }
   else if (Session["ID"] != null && Session["UserRole"].Equals(3))
            {
                <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                        <div class="caption">
                            <h2>Audit</h2>
                            <p>Richiedi degli Audit alle Squadre o controlla gli stati degli Audit correnti</p>
                            <p>
                                @Html.ActionLink("Richiedi Audit", "RichiediAudit", "Utente", new { @class = "btn btn-primary" })
                                @Html.ActionLink("Elenco stato attrezzature", "StatoEsitiAudit","Utente", new { @class = "btn btn-primary" })
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            }


