﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewBag.EsitoMessage</h1>
<div class="jumbotron">
    <h1>Sito gestione Attrezzature</h1>
    <p>Benvenuto, effettua il login o registrati per poter accedere alle funzionalitá del sito</p>
    <a href="@Url.Action("Login", "Utente")" class="btn btn-success">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Login
    </a>
    <a href="@Url.Action("Register", "Utente")" class="btn btn-success">
    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
    Registrazione
</a>
</div>

