﻿@model AttrezzatureFramework.Utente

@{
    ViewBag.Title = "Login account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">



        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                @Html.ActionLink("Hai dimenticato la password?", "ForgotPassword")
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color: lightgrey" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div>
       
    </div>
}

<div>
    <a href="@Url.Action("Register", "Utente")" class="btn btn-info">
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
        Non hai un account?
    </a>
    <br />
    <br />
    <a href="@Url.Action("Index", "Utente")" class="btn btn-warning">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Torna alla home
    </a>
</div>
