﻿@model AttrezzatureFramework.VM.AuditVM

@{
    ViewBag.Title = "Richiedi un nuovo Audit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Richiedi Audit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.Label("Squadra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.selectedSquadra, (SelectList)ViewBag.SquadreList, "--Seleziona Squadra--")
                @Html.ValidationMessageFor(model => model.selectedSquadra, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model=>model.selectedAttrezzaturaInSquadra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.selectedAttrezzaturaInSquadra,(SelectList)ViewBag.attrezzatureList)
                @Html.ValidationMessageFor(model => model.selectedAttrezzaturaInSquadra, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.audit.checkVisivoStrumentale, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.audit.checkVisivoStrumentale)
                    @Html.ValidationMessageFor(model => model.audit.checkVisivoStrumentale, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.audit.dataChiusura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.audit.dataChiusura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.audit.dataChiusura, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color: lightgrey" value="Crea Audit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Torna alla home", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
            var attrezzatureUrl = '@Url.Action("GetAttrezzature")';
            var localities = $('#selectedAttrezzaturaInSquadra');
            $('#selectedSquadra').change(function() {
                localities.empty();
                $.getJSON(attrezzatureUrl, { ID: $(this).val() }, function (data) {
					if (!data) {
						return;
					}
					localities.append($('<option></option>').val('').text('Scegli Attrezzatura'));
					$.each(data, function(index, item) {
						localities.append($('<option></option>').val(item.Value).text(item.Text));
					});
				});
			})

</script>
}*@