﻿@model AttrezzatureFramework.VM.EsitoAuditVM

@{
    ViewBag.Title = "Audit attivi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StatoEsitiAudit</h2>

<p>
    @if (Session["ID"] != null && Session["ID"].Equals(3))
    {
        @Html.ActionLink("Richiedi nuovo Audit", "RichiediAudit")
    }

</p>
<form asp-controller="UtenteController" asp-action="StatoEsitiAudit" method="get">
    <ol class="breadcrumb">
        <li>Filtra per nome Attrezzatura: <input type="text" name="nameSearchString" /></li>
        <li>Filtra per Esito Audit:                 </li>
        <li>@Html.EnumDropDownListFor(x => x.esiti, "---Seleziona Genere---", new { @class = "form-control" })</li>
        <li>Filtra per Scadenza: <input type="date" name="DateFilter" /></li>
        <li><button type="submit" class="btn btn-primary">Cerca</button></li>
     
    </ol>
    
    <p></p>
</form>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.Label("Attrezzatura")
        </th>
        <th>
            @Html.Label("Esito corrente")
        </th>
        <th>
            @Html.Label("Data Assegnazione")
        </th>
        <th>
            @Html.Label("Data Scadenza")
        </th>
        <th>
            @Html.Label("Assegnata a:")
        </th>
    </tr>

    @foreach (var item in Model.auditSquadre)
    {
        <tr>
            <td>
                @foreach (var s in Model.attrezzaturaInSquadras.Where(a => a.IDAssegnazione == item.IDAssegnazione))
                {
                    @Html.DisplayFor(modelItem => Model.attrezzature.Find(at => at.codiceAttrezzatura == s.codiceAttrezzatura).nomeAttrezzatura)
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.esitoAuditControllo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.audits.Find(a => a.IDAudit == item.IDAudit).dataApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.audits.Find(a => a.IDAudit == item.IDAudit).dataChiusura)
            </td>
            <td>
                @foreach (var s in Model.attrezzaturaInSquadras.Where(a => a.IDAssegnazione == item.IDAssegnazione))
                {
                    @Html.DisplayFor(modelItem => Model.squadras.Find(ss => ss.IDSquadra == s.IDSquadraAttrezzatura).nomeSquadra)
                }
            </td>
        </tr>
    }

</table>
<div>
    <a href="@Url.Action("HomepageLogged", "Utente")" class="btn btn-warning">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Torna alla home
    </a>
</div>
